{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Sistema EPI{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>

    <svg width="0" height="0" style="position:absolute">
        <defs>
            <symbol id="icon-factory" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M2 20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8l-7-6-7 6v12Z"/>
                <path d="M12 18v-6"/>
                <path d="M12 8L4 4"/>
                <path d="M12 8l8-4"/>
                <path d="M16 4l-4 4-4-4"/>
            </symbol>
            <symbol id="icon-dashboard" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
            </symbol>
            <symbol id="icon-users-group" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <path d="M20 8v6M23 11h-6"></path>
            </symbol>
        </defs>
    </svg>

    <div class="container">
        
        <aside class="sidebar">
            
            <div class="sidebar-header">
                <svg class="icon"><use href="#icon-factory"></use></svg>
                <div class="sidebar-header-text">
                    <h3>PROJETIC</h3>
                    <span>Controle de EPI</span>
                </div>
            </div>

            <nav class="sidebar-nav">
                <ul>
                    <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <a href="{% url 'index' %}">
                            <svg class="icon"><use href="#icon-dashboard"></use></svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'cadastro' %}active{% endif %}">
                        <a href="{% url 'cadastro' %}">
                            <svg class="icon"><use href="#icon-users-group"></use></svg>
                            <span>Colaboradores</span>
                        </a>
                    </li>
                    </ul>
            </nav>

            <div class="user-menu-dropdown" id="user-menu">
                <a href="#">Configurações de Perfil</a>
                <a href="#">Trocar Senha</a>
                <a href="#">Sair</a>
            </div>

            <div class="sidebar-footer" id="user-menu-trigger">
                <img src="https://via.placeholder.com/40/FFFFFF/1E6043?Text=PV" alt="Foto Perfil" class="footer-profile-pic">
                
                <div class="user-info">
                    <strong>Vanessa Caldeirão</strong>
                    <span>Online</span>
                </div>
            </div>
        </aside>

        <main class="content">
            
            {% block content %}
            {% endblock %}

        </main>
    </div>
    
    <script src="{% static 'script.js' %}"></script>

</body>
</html>